.wordPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100%;
  height: calc(100vh - 100px); 
  overflow: hidden;
  padding: 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.word {
  position: absolute;
  left: -80px;
  font-size: 1.5rem;
  white-space: nowrap;
}

.invisible {
  visibility: hidden;
}

.word p {
  padding: 10px;
  font-size: 4vh;
  font-weight: 600;
  font-variant: small-caps;
}


@media (max-width: 768px) {
  .word {
    font-size: 1.2rem;
    left: -60px;
  }

  .wordPanel {
    padding: 0.5rem;
    height: calc(100vh - 80px);
  }

  .word p {
    font-size: 3vh;
  }
}
